.admin-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 80vh;
  gap: 200px;
}

.admin-btn {
  padding: 15px 30px;
  font-size: 18px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  background-color: #1976d2;
  color: white;
  transition: 0.2s;
}

.admin-btn:hover {
  background-color: #125ca1;
}

.admin-crear-destino {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}