.adm-pagcontenedor {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.adm-editar-form {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.adm-editar-container {
    background: white;
    padding: 20px;
    width: 350px;
    border-radius: 10px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.4);
    text-align: center;
}

.adm-botones-editar{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 30px 0 0;
}

.adm-paggrid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(5, auto);
    gap: 15px 200px;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 900px;
}

.adm-pagitem {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.adm-1);
}

.adm-pagcontroles {
    display: flex;
    gap: 150px;
    align-items: center;
    font-size: 1.adm-2rem;
}

.adm-pagbutton {
    padding: 16px 28px;
    font-size: 1.adm-2rem;
    min-width: 140px;
}


button {
    padding: 8px 14px;
    border: none;
    background-color: #3a86ff;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

button:disabled {
    background-color: #9bbcf5;
    cursor: not-allowed;
}

.adm-tabla-admin {
    width: 80%;
    border-collapse: collapse;
    background-color: #609BBF;
}

.adm-tabla-admin th,
.adm-tabla-admin td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    text-align: center;
    text-align: center;
}

.adm-tabla-admin th {
    background: #f4f4f4;
    font-size: 20px;
}

.adm-tabla-admin td {
    font-size: 15px;
}

.adm-tabla-admin button {
    margin-right: 8px;
}