.admin-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 80vh;
    gap: 200px;
}

.admin-btn {
    padding: 15px 30px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    background-color: #1976d2;
    color: white;
    transition: 0.2s;
}

.admin-btn:hover {
    background-color: #125ca1;
}

.admin-crear-destino {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.admin-crear-categoria {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 50px;
}

.input-group {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.input-group label {
    margin-bottom: 6px;
    font-weight: bold;
    font-size: 25px;
    color: #D8EBF2;
}

.input-group input {
    padding: 10px;
    font-size: 15px;
    border-radius: 8px;
    border: 1px solid #ccc;
}