

.categoria {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 0px));
    padding: 20px 0;
    gap: 20px 0;
    justify-content: center;
}

.contenedor {
    color: #021E73;
    background-color: white;
    border-radius: 15px;
    width: 350px;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
}

.categoria .img-box {
    width: 100%;
    height: 200px;
}

.img-box>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.categoria .text-box {
    font-size: 25px;
    color: #333;
    min-height: 80px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}