
.fondo2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #021E73;
    background: linear-gradient(180deg, rgba(2, 30, 115, 1) 0%, rgba(2, 62, 115, 1) 50%, rgba(216, 235, 242, 1) 100%);
    z-index: -3;
}