.footer-container {
  width: 100%;
  background-color: #021E73;
  color: #D8EBF2;
  padding: 15px 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.footer-left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.footer-logo {
  width: 100px;
  height: auto;
}

@media (max-width: 900px) {
  .footer-container {
    justify-content: center;
    text-align: center;
  }
}
