.header-container {
    position: relative;
    top: -8px;
    left: -8px;
    width: 100%;
    height: 4%;
    display: flex;
    width: 100%;
    padding: 15px 20px;
    background-color: #609BBF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.header-title {
    font-size: 22px;
    font-weight: bold;
    color: #333;
    margin-right: 80px;
}

.header-back {
    font-size: 30px;
    margin-right: 80px;
    background: none;
    border: none;
    cursor: pointer;
    color: #333;
}