.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #E7FBFF;
  color: #03588C;
  font-weight: bold;
  z-index: 100;
}

.logo-area {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-left: 40px;
}

.logo img {
  height: 55px;
}

.center-menu {
  list-style: none;
  display: flex;
  gap: 40px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.center-menu li {
  font-size: 1.2rem;
}

.registro {
  display: flex;
  gap: 10px;
  margin-right: 80px;
}

.registro button {
  padding: 6px 12px;
  border: none;
  background-color: #03588C;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-size: 0.9rem;
}

.hamburger {
  font-size: 2rem;
  background: none;
  border: none;
  color: #03588C;
  cursor: pointer;
  display: none;
  margin-right: 40px;
}

.menu-panel {
  display: none;
}

@media (max-width: 900px) {

  .hamburger {
    display: block;
  }

  .center-menu {
    display: none;
  }

  .registro {
    display: none;
  }

  .menu-panel {
    display: flex;
    position: absolute;
    top: 70px;
    right: 0;
    width: 65%;
    max-width: 320px;
    height: 100vh;
    background: #E7FBFF;
    flex-direction: column;
    gap: 20px;
    padding: 25px;
    transform: translateX(100%);
    transition: 0.3s ease;
    z-index: 9999;
  }

  .menu-panel.open {
    transform: translateX(0);
  }

  .menu-panel ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 18px;
  }

  .registro-mobile {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-right: 40px;
  }

}
