.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #E7FBFF;
  color: #03588C;
  font-weight: bold;
  z-index: 99999;
}

.logo-area {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-left: 40px;
}

.logo img {
  height: 55px;
}

.lema {
  font-size: 20px;
}

.center-menu {
  list-style: none;
  display: flex;
  gap: 40px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.center-menu li {
  font-size: 25px;
}

.registro {
  display: flex;
  gap: 10px;
  margin-right: 80px;
  align-items: center;
}

.nav-btn {
  border: none;
  background-color: #03588C;
  width: 100%;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-size: 15px;
}

.hamburger {
  font-size: 2rem;
  background: none;
  border: none;
  color: #03588C;
  cursor: pointer;
  display: none;
  margin-right: 40px;
}

.menu-panel {
  display: none;
}

.nav-profile {
  font-size: 30px;
  cursor: pointer;
  color: #007bff;
  border: 4px solid #007bff;
  background-color: rgb(134, 203, 252);
  border-radius: 50%;
  padding: 4px;
}

.profile-menu {
  position: absolute;
  top: 60px;
  left: 83%;
  background: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  width: 180px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 10;
  padding: 10px 0 10px 0;
  gap: 20px;
  align-items: center;
}

@media (max-width: 1300px) {

  .hamburger {
    display: block;
  }

  .center-menu {
    display: none;
  }

  .registro {
    display: none;
  }

  .menu-panel {
    display: flex;
    position: absolute;
    top: 70px;
    right: 0;
    width: 65%;
    max-width: 320px;
    height: 100vh;
    background: #E7FBFF;
    flex-direction: column;
    gap: 20px;
    padding: 25px;
    transform: translateX(100%);
    transition: 0.3s ease;
    z-index: 9999;
  }

  .menu-panel.open {
    transform: translateX(0);
  }

  .menu-panel ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 18px;
  }

  .menu-panel li {
    font-size: 18px;
  }

  .registro-mobile {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-right: 40px;
  }

}