
.ordenar-contenedor {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 80px;
}


.ordenar-botones {
    display: flex;
    justify-content: center;
    gap: 80px;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 20px;
}

.ordenar-boton {
    padding: 10px 16px;
    background-color: #3a86ff;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 20px;
    transition: 0.2s;
}

.ordenar-boton:hover {
    background-color: #2f6cd6;
}


.ordenar-categoria-wrapper {
    position: relative;
}

.ordenar-menu {
    position: absolute;
    top: 45px;
    left: 50%;
    transform: translateX(-50%);
    background: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    width: 200px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    align-items: center;
    z-index: 10;
}

.ordenar-menu-item {
    width: 100%;
    padding: 10px;
    font-size: 20px;
    background: white;
    color: black;
    border: none;
    cursor: pointer;
    text-align: center;
}

.ordenar-menu-item:hover {
    background: rgb(187, 187, 187);
}

.ordenar-filtros-activos {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
    align-items: center;
}

.filtro-item {
    display: flex;
    align-items: center;
    background-color: #dbeafe;
    border: 1px solid #93c5fd;
    padding: 12px 12px;
    border-radius: 16px;
    gap: 10px;
    font-size: 16px;
    align-items: center;
    justify-content: center;
}

.filtro-item .filtro-btn-eliminar {
    background: #ef4444;
    color: white;
    border: none;
    border-radius: 20%;
    width: 22px;
    height: 22px;
    cursor: pointer;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.filtro-item .btn-eliminar:hover {
    background: #dc2626;
}
