.ordenar-contenedor {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    text-align: center;
    margin-bottom: 80px;
}

.ordenar-titulo {
    font-size: 30px;
    font-weight: bold;
    color: #D8EBF2;
}

.ordenar-botones {
    display: flex;
    gap: 80px;
    flex-wrap: wrap;
    justify-content: center;
}

.ordenar-boton {
    padding: 10px 16px;
    background-color: #3a86ff;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 20px;
    transition: 0.2s;
}

.ordenar-boton:hover {
    background-color: #2f6cd6;
}

.ordenar-categoria-wrapper {
    position: relative;
}

.ordenar-menu {
    position: absolute;
    top: 45px;
    left: 50%;
    background: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    width: 180px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 10;
}

.ordenar-menu-item {
    padding: 10px;
    font-size: 20px;
    background: white;
    color: black;
    border: none;
    cursor: pointer;
    text-align: left;
}
