.tarjeta-horizontal {
  width: 300px;
  height: 300px;
  display: flex;
  border-radius: 12px;
  overflow: hidden;
  background: white;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
}

.tarjeta-img-container {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.tarjeta-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tarjeta-texto {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
}

.tarjeta-nombre {
  font-size: 30px;
  margin: 0;
  font-weight: 700;
}

.tarjeta-rating {
  position: absolute;
  bottom: 0%;
  left: 230px;
  font-size: 20px;
}

.tarjeta-precio {
  margin: 0;
  font-size: 25px;
  font-weight: 600;
}

.tarjeta-origen {
  font-size: 20px;
  margin: 0;
  opacity: 0.9;
}

/* .tarjeta-descripcion {
  width: 50%;
  padding: 15px;
  display: flex;
  align-items: center;
  font-size: 25px;
  color: black;
  background: white;
} */

.img-degrade {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.7) 100%);
}