.register-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 70px;
  align-items: center;
  justify-content: center;
  align-items: center;
  background: #609BBF;
  padding: 30px 0 30px 0;
}

.register-form {
  width: 350px;
  padding: 25px;
  background: #D8EBF2;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.register-form h2 {
  color: #021E73;
  text-align: center;
  margin-bottom: 20px;
  font-weight: 600;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.form-group label {
  margin-bottom: 6px;
  font-size: 20px;
  font-weight: 500;
}

.form-group input {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
  outline: none;
}

.form-group input:focus {
  border-color: #4a73ff;
}

.btn-register {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  background: #4a73ff;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-sesion {
  width: 350px;
  padding: 12px;
  margin-top: 10px;
  background: #4a73ff;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-register:hover {
  background: #3a5bdc;
}

.form-error {
  color: red;
  font-size: 17px;
}