.fondo {
    position: absolute;
    top: 7%;
    left: 0;
    width: 100%;
    height: 85%;
    z-index: -1;
}

.fondo>div {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #2A7B9B;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.401) 0%, rgba(3, 92, 148, 0.501) 50%, #021E73);
    opacity: 0.9;
    z-index: -1;
}

.fondo>img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
}

.title {
    margin-top: 110px;
    margin-bottom: 90px;
    text-align: center;
    color: #021E73;
    font-size: 50px;
}

.subtitle {
    color: #D8EBF2;
    text-align: center;
    margin: 130px 0 65px 0;
    font-size: 40px;
}

.destinoform {
    background-color: #D8EBF2;
    border-radius: 90px;
    margin: auto;
    padding: 20px;
    width: 1000px;
    height: 90px;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.destinoform div {
    margin: auto;
    cursor: pointer;
    color: #021E73;
    font-size: 20px;
}

.viaje {
    text-align: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    gap: 20px;
}

.separador {
    width: 1px;
    height: auto;
    background-color: #023e7339;

}

.buscar {
    background-color: #023E73;
    color: #D8EBF2;
    margin: auto -5px auto auto;
    padding: 15px 30px;
    border-radius: 90px;
    cursor: pointer;
    border: none;
    font-size: 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(5, 1fr);
    gap: 10px 300px;
    align-items: center;
    justify-content: center;
}

.destino-title {
    color: #D8EBF2;
    text-align: center;
    font-size: 40px;
}

.destino-subtitle {
    color: #D8EBF2;
    text-align: center;
    font-size: 30px;
}

@media(max-width:900px) {
    .grid {
        gap: 10px 100px;
    }
}